<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<body>
<div class="container" layout:fragment="content">
<h2>Albums</h2>
    <table class="table" th:unless="${#lists.isEmpty(albums)}" th:id="tbl-albums">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Restricted</th>
            <th scope="col">erstellt am</th>
            <th scope="col">
                <a class="btn btn-primary" href="#" th:href="@{/albums/add}">add</a>
            </th>
        </tr>
        </thead>

        <tbody hx-confirm="Are you sure?">
        <tr th:replace="~{/albums/fragments :: album-row}"/>

        </tbody>
    </table>
    <p th:if="${#lists.isEmpty(albums)}">Keine Daten für Alben vorhanden!</p>

</div>

</body>
</html>